<!DOCTYPE html>
<head>
    <title>Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=2">
</head>
<body>
    <h1>Control</h1>
    <form method=post action=/control>
        <input type=submit name=drive value=forward> <br>
        <input type=submit name=drive value=left>
        <input type=submit name=drive value=stop>
        <input type=submit name=drive value=right> <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type=submit name=drive value=backward> <br><br>
        <input type=submit name=drive value="<<back">
    </form>
</body>