<!DOCTYPE html>
<head>
    <title>Choose tracing method</title>
    <meta name="viewport" content="width=device-width, initial-scale=2">
</head>
<body>
    <h1>Tracing method</h1>
    <form method=post actrion=/select_tracing>
        <input type=radio name=select value=neuronet> neuronet<br>
        <input type=radio name=select value=algorithm> algorithm<br><br>
        <input type=checkbox name=shading value=shading> shading<br><br>
        <input type=submit name=confirm value=confirm>
    </form>
</body>